<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs') %>
</head>

<body>
    <div class="container-fluid d-flex justify-content-center align-items-center"
        style="height: 100vh; background-color: aqua;">
        <div class="container card w-100" style="height: 90%;">
            <div class="card-header text-center mt-2">
                File Management
            </div>
            <div class="row card-body">
                <div class="col">
                    <div class="d-flex justify-content-center align-items-center h-100">
                        <div class="row w-75">
                            <form action="/api/upload" class="form-upload" method="post" enctype="multipart/form-data">
                                <div class="col">
                                    <input class="form-control" type="file" id="formFile" name="uploaded_file">
                                    <label for="formFile" class="form-label" style="font-size: 12px;">*hanya
                                        .txt</label>
                                </div>

                                <div class="col mt-3">
                                    <button type="submit" class="btn btn-primary btn-upload-file w-100">Upload</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <h5>FILE LIST</h5>
                    <div style="height: 90%;">
                        <div class="table-responsive" style="max-height: 300px; overflow-y: auto;">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">No</th>
                                        <th scope="col">File Name</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    <% data.forEach(function(items, index){ %>
                                        <tr>
                                            <th scope="row">
                                                <%= index + 1%>
                                            </th>
                                            <td style="min-width: 190px; max-width: 200px; ">
                                                <%= items.name %>
                                            </td>
                                            <td style="max-width: 150px;">
                                                <button type="button" class="btn btn-danger btn-open-modal"
                                                    data-bs-target="#myModal" data-id="<%= items._id %>"
                                                    data-name=" <%= items.name %>"
                                                    style="font-size: 10px;">Delete</button>

                                                <!-- Modal -->
                                                <div class="modal fade" id="myModal" tabindex="-1"
                                                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog" role="document">
                                                        <div class="modal-content">
                                                            <!-- Header Modal -->
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="exampleModalLabel">
                                                                    Delete
                                                                    Data</h5>
                                                                <button type="button" class="btn-close"
                                                                    data-bs-dismiss="modal" aria-label="Close"></button>
                                                            </div>

                                                            <!-- Konten Modal -->
                                                            <div class="modal-body">
                                                                <p>Are you sure want to delete
                                                                    <span id="modalIdValue"></span>
                                                                    ?
                                                                </p>
                                                            </div>

                                                            <!-- Footer Modal -->
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary"
                                                                    data-bs-dismiss="modal">Close</button>
                                                                <button id="btn-delete-file" type="button"
                                                                    class="btn btn-danger">Delete</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <a href="/views/edit/<%= items._id%>" class="btn btn-primary"
                                                    style="font-size: 10px;">Edit</a>
                                                <a href="/api/download/<%= items._id%>" class="btn btn-primary"
                                                    style="font-size: 10px;">Download</a>
                                            </td>
                                        </tr>
                                        <% });%>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script>
        $.noConflict();

        // DELETE FILE
        jQuery(document).ready(function ($) {
            $('.btn-open-modal').click(function () {
                let id = $(this).data('id');
                let name = $(this).data('name');
                $('#modalIdValue').text(name);
                $('#myModal').modal('show');

                $('#btn-delete-file').click(function () {
                    $.ajax({
                        type: "DELETE",
                        url: "/api/delete/" + id,
                        success: function () {
                            $("#myModal").modal("hide");
                            location.reload();
                        },
                        error: function () {
                            alert('Failed to Delete File!');
                        }
                    });
                });
            });
        });

    </script>

    <%- include('../partials/js_link.ejs') %>

</body>

</html>